@model List<ProductsValidation.Models.Product>

<h1>Editing prices for @Model.FirstOrDefault()?.Type.ToString() category</h1>
<form asp-action="EditPricesByCategory" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model[i].Id" class="form-control" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model[i].Name" class="form-control" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model[i].Price" class="form-control" />
                        <span asp-validation-for="@Model[i].Price" class="text-danger"></span>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
